/* VARIABLES */
section:first-child {
  fill: linear-gradient(180deg, #ededed 0.35%, rgba(255, 255, 255, 0) 99.63%);
}
section:first-child .first-items {
  padding-left: 145px;
  padding-right: 145px;
}
section:first-child .first-items .product {
  padding-top: 80px;
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
section:first-child .first-items .sign-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
  padding-top: 57px;
}
section:first-child .first-items .sign-cards .sign-card {
  width: 250px;
}
section:first-child .first-items .sign-cards .sign-card .cursor {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #02897a;
  border-radius: 19px;
}
section:first-child .first-items .sign-cards .sign-card p:nth-child(2) {
  padding-top: 30px;
  color: #22343d;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
section:first-child .first-items .sign-cards .sign-card p:nth-child(3) {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
section:first-child .first-items .sign-cards .second .cursor {
  background: #4d8dff;
}
section:first-child .first-items .sign-cards .third .cursor {
  background: #740a76;
}
section:first-child .first-items .sign-cards .fourth .cursor {
  background: #f03e3d;
}
section:first-child .first-items button {
  margin-top: 60px;
  margin-bottom: 90px;
  margin-left: 430px;
  gap: 5px;
  width: 178.048px;
  height: 53px;
  flex-shrink: 0;
  color: #02897a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: 0.4s;
  cursor: pointer;
}
section:first-child .first-items button svg {
  fill: #02897a;
}
section:first-child .first-items button:hover {
  color: #fff;
  background: #02897a;
}
section:first-child .first-items button:hover svg {
  fill: #fff;
}

section:nth-child(2) .second-items .strategy {
  text-align: center;
  padding-top: 39px;
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
section:nth-child(2) .second-items .focus {
  text-align: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}
section:nth-child(2) .second-items .second-cards {
  padding-top: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
section:nth-child(2) .second-items .second-cards .second-card {
  border-radius: 8px;
  max-width: 349px;
  transition: 0.4s;
  overflow: hidden;
}
section:nth-child(2) .second-items .second-cards .second-card p:nth-child(2) {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
section:nth-child(2) .second-items .second-cards .second-card p:nth-child(3) {
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  color: #22343d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  transition: 0.3s;
}
section:nth-child(2) .second-items .second-cards .second-card:hover {
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
}
section:nth-child(2) .second-items .second-cards .second-card:hover p:nth-child(3) {
  color: #02897a;
}/*# sourceMappingURL=Hero.css.map */